header {
    background-color: rgb(25, 182, 221);
    border-bottom: 1px solid #e6e6e6;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.header_nav ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

.nav_list_item {
    border: 1px solid black;
    padding: 5px;
}

.nav_link {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
}